# Vercel
.vercel/

# Node
node_modules/
dist/
build/

# Python
venv/
__pycache__/
*.py[cod]
*.so
*.egg-info/

# Environment variables
.env
.env.*

# Logs
*.log

# IDEs & Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
